/* @import "./vars.css"; */

.pixelArt {
  image-rendering: pixelated;
}

.camera {
  width: 100%;
  height: 100%;
  /* background-color: #1CAAEE; */
  overflow: hidden;
  position: relative;
}

.map {
  background-image: url("/map.png");
  background-size: 100%;
  width: calc(50 * var(--grid-cell));
  height: calc(50 * var(--grid-cell));
  position: relative;
}

.character {
  width: calc(var(--grid-cell));
  height: calc(var(--grid-cell));
  position: absolute;
  overflow: hidden;
}

.characterSprite {
  background: url("/character.png") no-repeat no-repeat;
  background-size: 100%;
  width: calc(var(--grid-cell) * 4);
  height: calc(var(--grid-cell) * 7);
  position: absolute;
}

.character[data-facing="ArrowRight"] .characterSprite {
  background-position-x: calc(var(--grid-cell) * -3);
}
.character[data-facing="ArrowUp"] .characterSprite {
  background-position-x: calc(var(--grid-cell) * -1);
}
.character[data-facing="ArrowLeft"] .characterSprite {
  background-position-x: calc(var(--grid-cell) * -2);
}
.character[data-walking="true"] .characterSprite {
  animation: walkAnimation 0.6s steps(4) infinite;
}

@keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  to {
    transform: translate3d(0px, calc(var(--grid-cell) * -4), 0);
  }
}
